:root {
    --clr-softorange: hsl(35, 77%, 62%);
    --clr-softred: hsl(5, 85%, 63%);
    --clr-offwhite: hsl(36, 100%, 99%);
    --clr-greyishblue: hsl(233, 8%, 79%);
    --clr-darkgreyishblue: hsl(236, 13%, 42%);
    --clr-verydarkblue: hsl(240, 100%, 5%);
    --fontsize-p: 15px;
    --fontweight-regular: 400;
    --fontweight-bold: 700;
    --fontweight-extrabold: 800;
}

body {
    font-family: "Inter";
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 152px;
    font-size: var(--fontsize-p);
    background-color: var(--clr-offwhite);
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--clr-offwhite);
}

.mobile-menu {
    display: none;
}

.desktop-nav ul {
    display: flex;
    flex-direction: row;
    gap: 40px;
    list-style: none;
}

.desktop-nav ul li a {
    text-decoration: none;
    color: var(--clr-darkgreyishblue);
}

.desktop-nav ul li a:hover {
    cursor: pointer;
    color: var(--clr-softred);
}

.desktop-nav ul li a:focus {
    cursor: pointer;
    color: var(--clr-softred);
}

.hamburger {
    display: none;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr 1fr;
    gap: 30px;
    padding: 68px 0;
    background-color: var(--clr-offwhite);
}

.main-article {
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    flex-direction: column;
}

.main-article .main-photo img {
    width: 100%;
}

.mobile-photo {
    display: none;
}

.main-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.left {
    padding-right: 15px;
    font-size: 1.6rem;
    line-height: 3.5rem;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 10px;
    padding-right: 15px;
    color: var(--clr-darkgreyishblue);
    font-weight: 300;
    line-height: 1.6rem;
}

.right button {
    width: 60%;
    padding: 15px;
    border: none;
    background-color: var(--clr-softred);
    font-weight: 900;
    text-transform: full-width;
}

.right button:hover {
    cursor: pointer;
    background-color: var(--clr-verydarkblue);
    color: var(--clr-offwhite);
}

.right button:focus {
    cursor: pointer;
    background-color: var(--clr-verydarkblue);
    color: var(--clr-offwhite);
}

.new {
    background-color: var(--clr-verydarkblue);
    color: var(--clr-softorange);
    padding: 15px 25px;
}

.new h1 {
    font-size: 2.5rem;
    font-weight: 500;
    margin: 15px 0 0 0;
}

.new-article {
    padding: 15px 0;
}

.new-article h2 {
    color: var(--clr-offwhite);
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1rem;
}

.new-article a {
    text-decoration: none;
    color: var(--clr-offwhite);
}

.new-article a:hover,
.new-article a:focus {
    cursor: pointer;
    color: var(--clr-softorange);
}

.new-article p {
    color: var(--clr-greyishblue);
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.7rem;
}

.new-article:nth-of-type(1),
.new-article:nth-of-type(2) {
    border-bottom: solid var(--clr-darkgreyishblue) thin;
}

.numbered {
    grid-area: 2 / 1 / 3 / 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.first, .second, .third {
    display: flex;
    gap: 10px;
    height: 100px;
    padding: 0;
}

.numbered img {
    width: 100px;
}

.numbered-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
}

.numbered-right h2,
.numbered-right h3,
.numbered-right p {
    margin: 0
}

.numbered-right h2 {
    color: var(--clr-softred);
    font-size: 2rem;
}

.numbered a {
    text-decoration: none;
    color: var(--clr-verydarkblue);
}

.numbered a:hover, .numbered a:focus {
    cursor: pointer;
    color: var(--clr-softred);
}

.numbered-right p {
    color: var(--clr-darkgreyishblue);
    line-height: 1.5rem;
    padding-right: 45px;
    font-weight: 300;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


/* The desktop-first pre-defined media queries: */
/* 2xl */ 
/* @media (max-width: 1536px) {} 
/* xl */ 
/* @media (max-width: 1280px) {}  */
/* lg */ 
/* @media (max-width: 1024px) {}  */
/* md */ 
@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    header {
        align-items: center;
    }

    .desktop-nav {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .hamburger:hover,
    .hamburger:focus {
        cursor: pointer;
    }

    .mobile-menu {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        padding: 20px;
        background-color: var(--clr-offwhite);
        height: 250%;
        box-shadow: -200px 97px 189px 200px rgba(0,0,0,0.68);
    }

    .close-icon {
        position: absolute;
        top: 22px;
        right: 30px;
        padding: 0;
    }

    .close-icon:hover,
    .close-icon:focus {
        cursor: pointer;
    }

    .mobile-nav ul {
        display: flex;
        flex-direction: column;
        gap: 35px;
        list-style: none;
        padding: 100px 100px 100px 0;
        justify-content: flex-start;
        font-size: 1.1rem;
    }
    
    .mobile-nav ul li a {
        text-decoration: none;
        color: var(--clr-verydarkblue);
    }

    .mobile-nav ul li a:hover {
        cursor: pointer;
        color: var(--clr-softred);
    }
    
    .mobile-nav ul li a:focus {
        cursor: pointer;
        color: var(--clr-softred);
    }

    main {
        display: flex;
        flex-direction: column;
        padding: 30px 0;
    }

    .desktop-photo {
        display: none;
    }

    .mobile-photo {
        display: block;
    }

    .main-bottom {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .left h1{
        margin-bottom: 0;
        font-size: 2.4rem;
        line-height: 2.5rem;
    }

    .right p {
        margin-top: 0;
    }

    .new {
       margin: 25px 0;
    }

    .numbered {
        display: flex;
        flex-direction: column;
        gap: 60px;
    }

    .numbered p {
        font-size: 0.9rem;
        padding-right: 7px;
    }

    .first, .second, .third {
        gap: 20px;
    }

    footer {
        margin-top: 50px;
    }
}  
/* sm */ 
/* @media (max-width: 640px) {}  */
/* xs */ 
@media (max-width: 475px) {
    body {
        padding: 10px;
    }

    header {
        align-items: center;
    }

    .desktop-nav {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .hamburger:hover,
    .hamburger:focus {
        cursor: pointer;
    }

    .mobile-menu {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        padding: 20px;
        background-color: var(--clr-offwhite);
        height: 250%;
        box-shadow: -200px 97px 189px 200px rgba(0,0,0,0.68);
    }

    .close-icon {
        position: absolute;
        top: 22px;
        right: 30px;
        padding: 0;
    }

    .close-icon:hover,
    .close-icon:focus {
        cursor: pointer;
    }

    .mobile-nav ul {
        display: flex;
        flex-direction: column;
        gap: 35px;
        list-style: none;
        padding: 100px 100px 100px 0;
        justify-content: flex-start;
        font-size: 1.1rem;
    }
    
    .mobile-nav ul li a {
        text-decoration: none;
        color: var(--clr-verydarkblue);
    }

    .mobile-nav ul li a:hover {
        cursor: pointer;
        color: var(--clr-softred);
    }
    
    .mobile-nav ul li a:focus {
        cursor: pointer;
        color: var(--clr-softred);
    }

    main {
        display: flex;
        flex-direction: column;
        padding: 30px 0;
    }

    .desktop-photo {
        display: none;
    }

    .mobile-photo {
        display: block;
    }

    .main-bottom {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .left h1{
        margin-bottom: 0;
        font-size: 2.4rem;
        line-height: 2.5rem;
    }

    .right p {
        margin-top: 0;
    }

    .new {
       margin: 25px 0;
    }

    .numbered {
        display: flex;
        flex-direction: column;
        gap: 60px;
    }

    .numbered p {
        font-size: 0.9rem;
        padding-right: 7px;
    }

    .first, .second, .third {
        gap: 20px;
    }

    footer {
        margin-top: 50px;
    }
} 